#pinboard-header {
  background-color: #fff;
  height: 115px;
  line-height: 115px;

  h1 {
    display: inline-block;
    font-size: 18px;
  }

  .sort-by-wrapper {
    display: inline-block;
    float: right;
  }

  p {
    color: $gray;
    display: inline-block;
    font-size: 13px;
    margin-right: 20px;
    text-transform: uppercase;
  }
}

.sort-by-options {
  display: inline-block;
  position: relative;
  top: 4px;
}

.sort-by-icon {
  background: transparent;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 14px;
  margin: 5px 0 0 7px;
  width: 14px;
}

.sort-by-icon:last-of-type {
  margin-left: 0;
}

.red-pin {
  border-color: #d66247;
}

.orange-pin {
  border-color: #e5794a;
}

.blue-pin {
  border-color: #22a1d3;
}

.green-pin {
  border-color: #21bfb3;
}

#pinboard {
  background-color: #edeff0;
  padding-top: 35px;
  padding-bottom: 100px;
  @include cf;
}

.pin {
  height: 270px;
  @include gallery(4 of 12);
  margin-bottom: gutter(12);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.photo, .event, .song {
  background: url('http://placehold.it/500x300') no-repeat;
  background-size: 500px 300px;
  background-position: center;
}

.text {
  background-color: #fff;
}

.pin-wrapper {
  height: 210px;
  padding: 30px 25px;
  position: relative;

  h2 {
    font-size: 21px;
    line-height: 30px;
    margin: 20px 0 10px 0;
  }

  .attendance-meta {
    bottom: 30px;
    width: 84%;
  }

  .attendance {
    float: right;
    top: 5px;
    width: 77px;
  }
}