// bower:scss
// endbower

// VARIABLES
$light-gray: #c5cdcf;
$dark-gray: #8d999f;
$featured-gray: #c0bcb4;

// SASS MIXINS
@mixin cf {
  &:after {
    content:"";
    display: block;
    clear: both;
  }
}

// SASS PARTIALS
@import "primary-nav";
@import "featured-section";
@import "pinboard";
@import "audio";
@import "pinboard-nav";

// PROPERTIES ARE IN ALPHABETICAL ORDER
body {
  background: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  min-width: 1000px;
}

section {
  padding: 0 35px;
  margin: 0 auto;
}

h1, h2, h3, p, ul {
  margin: 0;
}

h1 {
  font-family: "Open Sans";
  font-weight: 400;
}

ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

h2, p, li {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.hidden {
  display: none;
}

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  margin: 0.2em 0;
}
